body{
    background-color: rgb(255, 249, 242);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

/* Header */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #c5beb5;
}

/* Logo */
.pm-logo{
    display: inline-block;
    padding: 2px;
    margin: 10px;
}
.pm-logo a{
    padding: 10px 5px 5px;
}

/* Header Nav */
.pm-navbar{
    position: absolute;
    right: 0;
    top: 0;
}
.pm-navbar-nav{
    display: flex;
    padding: 2px;
    margin: 5px;
}
.pm-nav-item{
    font-size: 1.2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}
.pm-navbar-nav a{
    display: block;
    padding: 0.2em 30px;
    line-height: 1.8em;
    border-radius: 10px;
}
.pm-navbar-nav a:hover{
    background-color: azure;
}
.pm-nav-dropdown{
    background-color: #c5beb5;
    position: absolute;
    display: none;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
}
.pm-navbar-nav li.pm-nav-item:hover > ul.pm-nav-dropdown{
    display: block;
}
.pm-navbar-btn{
    display: none;
    padding: 5px;
    border-radius: 8px;
    border-width: 0px;
    margin: 8px 20px;
    padding: 0;
    width: 45px;
    height: 40px;
}
.pm-navbar-btn-img{
    width: 45px;
    height: 40px;
}

/* Header Nav dropdown */
.pm-navbar-dropdown{
    display: none;
    margin-top: 5px;
    padding: 5px;
    animation-name: dropdown-animation;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.pm-navbar-nav-dropdown{
    padding-left: 10px;
    margin-top: 5px;
}
.pm-navbar-nav-dropdown-item{
    border: solid;
    border-width: 0;
}
.pm-navbar-nav-dropdown-item-dropdown{
    background-color: #d8d0c6;
    padding-left: 15px;
}
.pm-navbar-nav-dropdown-item a{
    display: block;
    padding: 0.3em 20px;
    line-height: 1.4em;
}
.pm-navbar-nav-dropdown-item a:hover{
    border-radius: 10px;
    background-color: azure;
}
@keyframes dropdown-animation {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Content */
.main-content{
    display: flex;
    position: relative;
    justify-content: center;
    width: 99%;
    margin-top: 65px;
    padding: 5px;
    z-index: 0;
}

/* Index content */
.pm-home-content{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 100px 0 100px 0;
    border-radius: 25px;
    background-color: bisque;
    text-align: center;
}

/* Section content */
.pm-section-content{
    display: block;
    position: relative;
    border-radius: 25px;
    background-color: bisque;
}
.pm-sidebar-nav{
    padding: 7px;
    margin-top: 10px;
}
.pm-sidebar-nav-item{
    margin: 3px 0 3px 0;
    padding: 3px;
}
.pm-sidebar-nav-item a{
    display: block;
    line-height: 1.5em;
    border-radius: 10px;
    font-size: 15pt;
    padding: 0 8px 0 8px;
}
.pm-sidebar-nav-item a:hover{
    background-color: azure;
}
.pm-section-chapter{
    font-size: 24pt;
    padding: 10px;
    text-align: center;
}
.pm-section-title{
    margin-left: 15px;
    font-size: 18pt;
}
.pm-section-desc{
    margin-left: 25px;
}

/* Question content */
.pm-content{
    display: none;
    position: relative;
    width: 75%;
    border-radius: 10px;
    background-color: bisque;
}
.pm-question{
    padding: 10px;
}
.pm-question-title{
    display: flex;
    position: relative;
    justify-content: center;
    padding: 5px;
}
.pm-question-title-section{
    font-size: 24pt;
    text-align: center;
}
.pm-question-titleBTN{
    position: absolute;
    right: 0;
    margin: 2px;
}
.pm-question-titleBTN button{
    background-color: #c5beb5;
    border-width: 0;
    border-radius: 10px;
    font-size: 15pt;
    padding: 5px;
}
.pm-question-titleBTN button:hover{
    cursor: pointer;
    background-color: azure;
}
.pm-question-content{
    margin: 3px;
}
.pm-question-block{
    margin-top: 5px;
}
.pm-question-desc{
    background-color:rgb(240, 224, 81);
    border-width: 0;
    border-radius: 10px;
    font-size: 18pt;
    padding: 3px 6px;
}
.pm-question-ques{
    font-size: 15pt;
    padding: 0 7px;
}
.pm-question-options{
    font-size: 14pt;
    padding: 0 10px;
}
.formBTN{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 2px;
}
.formBTN button{
    background-color: #c5beb5;
    border-width: 0;
    border-radius: 10px;
    font-size: 14pt;
    padding: 5px 12px;
}
.formBTN button:hover{
    cursor: pointer;
    background-color: azure;
}

/* Display */
.show{
    display: block;
}

/* Medium devices (portrait tablets and large phones and phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .header{
        line-height: 37px;
    }
    .pm-navbar-btn{
        display: block;
    }
    .pm-navbar-btn:hover{
        cursor: pointer;
    }
    .pm-navbar-nav{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pm-navbar-btn{
        display: block;
    }
    .pm-navbar-btn:hover{
        cursor: pointer;
    }
    .pm-navbar-nav{
        display: none;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .pm-navbar-btn{
        display: none;
    }
    .pm-navbar-dropdown{
        display: none;
    }
    .pm-navbar-nav{
        display: flex;
    }
}


/* 
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {} 

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {} 

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {} 
*/